.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list > div {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-size: 15px;
}
h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
textarea {
  width: 100%;
  height: 300px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
form {
  padding: 10px;
}
.twoPanes {
  display: flex;
  height: calc(100% - 80px)
}
.twoPanes div {
  flex: 1;
  justify-items: end;
  align-items: end;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
}
.twoPanes h3 {
  margin-top: 12px;
}
form button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
@media print {
  form {
    display: none;
  }
}
