* {
  box-sizing: border-box;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5cm;
}
.pizzasPerPersonne {
  display: grid;
  grid-template-columns: 2fr 2fr;
  font-size: 14px;
}
.list > div:not(.newPage) {
  /*border: 1px solid #ccc;*/
  padding: 10px;
  margin: 0;
  text-align: left;
  font-size: 10px;
  width: 6.4cm;
  height: 3.9cm;
  margin-right: 0.4cm;
}
h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
}
textarea {
  width: 100%;
  height: 300px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
form {
  padding: 10px;
}
.twoPanes {
  display: flex;
  height: calc(100% - 80px)
}
.twoPanes div {
  flex: 1;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 12px;
}
.twoPanes h3 {
  margin-top: 12px;
}
form button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.newPage {
  flex-basis: 100%;
  height: 0;
}
.pizza {
  padding: 5px !important;
  p {
    text-align: justify;
    margin: 4px 0;
    font-size: 9px;
  }
  .title {
    font-size: 10px;
    font-weight: bold;
    margin: 0 10px;
    display: flex;
    align-items: center;

    .logoAP {
      height: 50px;
      margin-right: 0px;
      margin-left: -15px;
      margin-right: 10px;
    }

    h2 {
      flex: 1;
      font-size: 15px;
      text-align: left;
      margin: 0;
    }
    .date {
      font-size: 13px;
      font-weight: lighter;
    }
  }
}
@page {
  size: A4;
  margin-top: 1.5cm;
  margin-right: 0.5cm;
}
@media print {
  form {
    display: none;
  }
  div {
    page-break-inside: avoid;
  }
  .newPage {
    page-break-before: always;
  }
}
